:root {
    /* Same as default --window-radius; but we don't use this because maximize/fullscreen disables border radius. */
    --box-border-radius: 12px;
}

window {
    transition: border-bottom-left-radius 0.5s ease, border-bottom-right-radius 0.5s ease;
}

/* These are just the usual Adwaita defaults */

.fm-navselected {
    background: color-mix(in srgb, currentColor 10%, transparent);
}

.fm-navselected:hover {
    background: color-mix(in srgb, currentColor 13%, transparent);
}

.fm-navselected:active {
    background: color-mix(in srgb, currentColor 19%, transparent);
}

.fm-navselected.has-open-popup {
    background: color-mix(in srgb, currentColor 19%, transparent);
}

/* * */

.conn-list-server-groups {
    margin: 12px;
}

.connection-view-navbar {
    border-radius: var(--box-border-radius);
    /* colors are same as Adwaita's banner > revealer > widget */
    background-color: color-mix(in srgb, var(--accent-bg-color) 30%, var(--sidebar-bg-color));
    color: var(--sidebar-fg-color);
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.connection-view-navbar:backdrop {
    background-color: color-mix(in srgb, var(--accent-bg-color) 15%, var(--sidebar-bg-color));
}


window.connection-view-active .connection-view-navbar, window.connection-view-active .connection-view-navbar row {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.compact-button {
    padding: 3px;
}

.connection-view-navbar .heading {
    margin-top: 6px;
    margin-right: 12px;
}

.connection-info-page:backdrop, .fm-navbar:backdrop {
    opacity: var(--dim-opacity);
}

.window-title {
    padding-top: 6px;
    padding-bottom: 6px;
}

.window-title button {
    padding: 6px;
}

.vte-box {
    background: #fff;
    color: #000;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}

.connection-view-grabbed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.connection-view-toolbarview headerbar {
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.connection-view-grabbed .connection-view-toolbarview .border {
    box-shadow: 0 1px color-mix(in srgb, var(--accent-bg-color) 30%, var(--headerbar-darker-shade-color));
}

.connection-view-grabbed .connection-view-toolbarview headerbar {
    background-color: color-mix(in srgb, var(--accent-bg-color) 30%, var(--headerbar-bg-color));
}

.grab-note {
    background-color: color-mix(in srgb, var(--window-bg-color) 90%, transparent);
    padding: 12px;
    margin-bottom: 24px;
    border-radius: var(--box-border-radius);
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.grab-note.hidden {
    opacity: 0;
}

.body-label label {
    font-weight: normal;
}
