.connection-list {
    margin-top: 45px;
}

.connection-list .list-inner-box {
    margin: 24px 12px;
    border-spacing: 24px;
    background: transparent;
}

.connection-list .list-inner-box > * {
    margin-bottom: 24px;
}

.connection-list-not-visible .fieldmonitor-osd {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: none;
}

.debug-solid-color {
    background: rgb(200, 200, 0);
}

.debug-solid-color2 {
    background: rgb(200, 0, 200);
}