.sharp-corners {
    border-radius: 0;
}

window {
    transition: border-radius 0.5s ease, outline 0.5s ease;
}

/*
 * Styles for header from Showtime, thanks for the great implementation of fullscreen overlay
 * window controls!
 */

button.header-osd,
menubutton.header-osd button,
.window-controls-osd > button > image {
    color: var(--window-fg-color);
    background-color: var(--window-bg-color);
}

.window-controls-osd > button > image {
    background-color: mix(var(--window-bg-color), var(--window-fg-color), 0.1);
}

button.header-osd:not(.nohover):hover,
menubutton.header-osd button:not(.nohover):hover,
.window-controls-osd > button > image:not(.nohover):hover {
    background-color: mix(var(--window-bg-color), var(--window-fg-color), 0.15);
}

button.header-osd:not(.nohover):active,
menubutton.header-osd button:not(.nohover):active,
.window-controls-osd > button > image:not(.nohover):active {
    background-color: mix(var(--window-bg-color), var(--window-fg-color), 0.3);
}

.connection-list .list-inner-box {
    margin: 24px 12px;
    border-spacing: 24px;
    background: transparent;
}

.connection-list .list-inner-box > * {
    margin-bottom: 24px;
}

.window-title {
    padding-top: 6px;
    padding-bottom: 6px;
}

.window-title button {
    margin-top: -3px;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
}

.connection-view-status, .faux-header {
    background: var(--window-bg-color);
}

.vte-box {
    background: #fff;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.faux-header.vte {
    background: #fff;
    color: #000;
}

.header-bg-gradient {
    background-image: linear-gradient(color-mix(in srgb, var(--window-bg-color) 60%, transparent), transparent);
}

.connection-view-grabbed:not(.fullscreen) {
    outline: 2px solid var(--accent-bg-color);
}

/* * * * */
.debug-solid-color {
    background: rgb(200, 200, 0);
}
