.connection-list .content-page {
    padding-bottom: 42px;
}

.connection-list .add-connection-button {
    margin: 18px;
}

.connection-list .list-inner-box {
    margin: 24px 12px;
    border-spacing: 24px;
    background: transparent;
}

.connection-list .list-inner-box > * {
    margin-bottom: 24px;
}

.is-in-borderless .connection-list .content-page {
    margin-top: 48px;
}

.fieldmonitor-osd {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: none;
}
