name: EditorConfig Checker

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  editorconfig:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker
